@media (min-width: 768px) {
   
    .something {
		&__box {
			flex-direction: row;
			justify-content: space-between;

			&-text {
				width: 55%;
				&--right {
					text-align: right;
				}
			}

			&-img {
				width: 40%;
				&--right {
					order: 1;
				}
			}
		}

		&__img {
			margin-bottom: 0;
			min-height: 300px;
		}
	}

}