@import './medium';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
	font-size: 90%;

}

body {
	font-size: 2rem;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.something {
	&__box {
		display: flex;
		flex-direction: column;
		margin: 2em 0;
	}

	&__img {
		width: 100%;
		margin-bottom: 1em;
	}

	&__title {
		margin-bottom: 0.5em;
	}

	&__text {
		font-size: 1.4rem;
	}
}